[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/awagner-mainz/vim-pandoc.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/vim-favmenu"]
	path = bundle/vim-favmenu
	url = https://github.com/awagner-mainz/FavMenu.vim.git
[submodule "bundle/vim-mru"]
	path = bundle/vim-mru
	url = https://github.com/awagner-mainz/mru.vim.git
[submodule "bundle/vim-homekey"]
	path = bundle/vim-homekey
	url = https://github.com/awagner-mainz/vim-homekey
[submodule "bundle/vim-visualmark"]
	path = bundle/vim-visualmark
	url = https://github.com/awagner-mainz/visualmark.vim
[submodule "bundle/mediawiki"]
	path = bundle/mediawiki
	url = git://github.com/chikamichi/mediawiki.vim.git
[submodule "bundle/vim-todotxt"]
	path = bundle/vim-todotxt
	url = https://github.com/awagner-mainz/todo.txt-vim.git
